<section class="dbd-Details position-relative h-100">
    <div class="circles-container position-relative banner h-100">
        <div class="has-circle">
            <span class="circle-1 ratio-32" data-rellax-speed="-2"></span>
            <!-- <span class="circle&#45;2 ratio&#45;85 fill" data&#45;rellax&#45;speed="2"></span> -->
            <span class="circle-3 ratio-20 fill"></span>
            <span class="circle-4 ratio-47" data-rellax-speed="1"></span>
            <span class="circle-5 ratio-62" data-rellax-speed="-1"></span>
            <span class="circle-6 ratio-20 fill" data-rellax-speed="-0.5"></span>
            <span class="circle-7 ratio-73" data-rellax-speed="-1"></span>
            <span class="circle-8 ratio-37" data-rellax-speed="-.5"></span>
            <span class="circle-9 ratio-20 fill" data-rellax-speed="1"></span>
            <!-- <span class="circle&#45;10 ratio&#45;65 fill" data&#45;rellax&#45;speed="&#45;2"></span> -->
        </div>
        <div class="circles-overlay"></div>
    </div>
    
    <div class="dbd-DetailsContent">
        <div class="container position-relative mt-5">
            <div class="row position-relative justify-content-center">
                <div class="col-12 col-md-9">

                      <h1 class="display-4">Detailed view</h1>
                      <hr class="mt-0 mb-4">

                      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                      <a class="btn btn-outlined-primary" href="#" role="button">Monthly details</a>
                      <a class="btn btn-primary btn-lg" href="#" role="button">Weekly Details</a>
                      <a class="btn btn-outlined-primary" href="#" role="button">Daily details</a>
                      <a class="btn btn-outlined-primary" href="#" role="button">Custom period</a>
                      <hr class="my-4">

                    <ul class="list-group rounded">
                          <li class="list-group-item px-4 py-2">First item <span>Settled +300</span></li>
                          <li class="list-group-item px-4 py-2">A second item <a href="#">Details</a></li>
                          <li class="list-group-item px-4 py-2">A third item <a href="#">Details</a></li>
                          <li class="list-group-item px-4 py-2">A fourth item <a href="#">Details</a></li>
                          <li class="list-group-item disabled px-4 py-2" aria-disabled="true">A disabled item <span class="text-right">Processing</span></li>
                          <li class="list-group-item px-4 py-2">And a fifth one <a href="#">Details</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
