<section class="dbd-Profile position-relative h-100">
    <div class="circles-container position-relative banner h-100">
        <div class="has-circle">
            <span class="circle-1 ratio-32" data-rellax-speed="-2"></span>
            <!-- <span class="circle&#45;2 ratio&#45;85 fill" data&#45;rellax&#45;speed="2"></span> -->
            <span class="circle-3 ratio-20 fill"></span>
            <span class="circle-4 ratio-47" data-rellax-speed="1"></span>
            <span class="circle-5 ratio-62" data-rellax-speed="-1"></span>
            <span class="circle-6 ratio-20 fill" data-rellax-speed="-0.5"></span>
            <span class="circle-7 ratio-73" data-rellax-speed="-1"></span>
            <span class="circle-8 ratio-37" data-rellax-speed="-.5"></span>
            <span class="circle-9 ratio-20 fill" data-rellax-speed="1"></span>
            <!-- <span class="circle&#45;10 ratio&#45;65 fill" data&#45;rellax&#45;speed="&#45;2"></span> -->
        </div>
        <div class="circles-overlay"></div>
    </div>
    
    <div class="dbd-ProfileContent">
        <div class="container position-relative mt-5">
            <div class="row position-relative justify-content-center">
                <div class="col-12 col-md-9">
                    
                    <div class="jumbotron">
                      <h1 class="display-4">Johhn Doe</h1>
                      <hr class="mt-0 mb-4">
                    </div>

                    <div class="row mt-4">

                        <div class="col-12 col-md-6 text-center">
                            <div>
                            <img class="dbd-ProfilePicture" src="/05.jpg" alt="Profile image">
                            <hr>
                            </div>
                            <button class="btn btn-outlined-primary">Edit Personal Info</button>
                        </div>

                        <div class="col-12 col-md-6">
                            <section class="card">
                                <div class="card-header lead bg-primary text-white"> Personal Info </div>
                                <div class="card-body">
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">First name: John</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">Last name: Doe</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">Date of birth: 11/30/1901</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">Date registered: 06/15/1950</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">hello</p>
                                    <a href="#" class="btn btn-outlined-primary">Edit Personal Info</a>
                                </div>
                            </section>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-12 col-md-6">
                            <section class="card">
                                <div class="card-header lead bg-primary text-white">Hobbies Info</div>
                                <div class="card-body">
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">Preferred: Cricket</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">Second best: Reading</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">Ficticious: Space dodgeball</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">Purely recreational: Math</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">Cultural: Writing strongly worded letters</p>
                                    <a href="#" class="btn btn-outlined-primary">Edit Hobbies Info</a>
                                </div>
                            </section>
                        </div>

                        <div class="col-12 col-md-6">
                            <section class="card">
                                <div class="card-header lead bg-primary text-white">Emergency Contact Info </div>
                                <div class="card-body">
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">First name: James</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">Last name: Doe</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">Date of birth: 11/30/1900</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">Date registered: 06/15/1949</p>
                                    <p class="card-text text-primary text-bold" style="font-weight: 900; text-align: right">hello</p>
                                    <a href="#" class="btn btn-outlined-primary">Edit Emergency Contact Info</a>
                                </div>
                            </section>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
