{{define "main"}}

{{/* {{ partial "banner" . }} */}}

{{ partial "brands_carousel" . }}

{{/* {{ partial "features" . }} */}}

{{/* {{ partial "intro_video" . }} */}}

{{/* {{ partial "how_it_works" . }} */}}

{{/* {{ partial "testimonials" . }} */}}

{{/* {{ partial "who_we_are" . }} */}}

{{/*{{ partial "what_we_do" . }}*/}}

{{/*{{ partial "our_mission" . }}*/}}

{{/*{{ partial "about_video" . }}*/}}

{{/*{{ partial "brands_carousel_alt" . }}*/}}

{{/*{{ partial "our_team" . }}*/}}

{{/*{{ partial "our_office" . }}*/}}

{{/*{{ partial "blog_list" . }}*/}}

{{/*{{ partial "case_studies" . }}*/}}

{{/*{{ partial "our_values" . }}*/}}

{{/*{{ partial "benefit" . }}*/}}

{{/*{{ partial "office_gallery" . }}*/}}

{{/*{{ partial "open_position.html" . }}*/}}

{{/*{{ partial "contact" . }}*/}}

{{/*{{ partial "pricing" . }}*/}}




{{end}}
