.logo {
    clear:both;
    height:auto;
    border:0;
    text-align:center;
}
.article {
    text-align:left;
    padding: 0.5em 0;
    font-size: 0.94em;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    color:#333;
    font-family: "Gill Sans", "museo-sans", "century gothic",  "Helvetica Neue";
    font-weight:300;
    letter-spacing:0.07em;
    font-size: 101%;
}