{{with .Params.our_office}}
{{if .enable}}
<section class="section-sm mb-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 col-md-10">
        <div class="section-title text-center mb-0" data-aos="fade-in">
          <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          <h2 class="title">{{.title | markdownify}}</h2>
          <p>{{.description | markdownify}}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row">
          {{range .office_locations}}
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="office-loc-item">
              {{ if fileExists (add `assets/` .country_flag) }}
              {{$img:= resources.Get .country_flag }}
              {{$img:= $img.Resize "80x "}}
              {{$imgWebp:= $img.Resize "80x webp"}}
              <img loading="lazy" decoding="async" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$imgWebp.RelPermalink}}" alt="Flags" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
              {{end}}
              <h3>{{.city | markdownify}}</h3>
              <p>{{.address_line_one | markdownify}}</p>
              <p>{{.address_line_two | markdownify}}</p>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
